# Java & Maven
backend-api/target/
backend-api/.mvn/
.mvn/
*.jar
.gradle/
build/

# Node
frontend-web/node_modules/
frontend-web/dist/

# IDE & System
.idea/
.vscode/
*.DS_Store
*.class
.classpath
.project
.settings/

# Secrets & Environment
*.env
*.env.local

# Docker
**/docker-compose.override.yml

# Logs
*.log
logs/

# Local Maven
.oceanflow-local-maven/
